/*Configuración de la barra*/

body,
html {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 70px;
    background-color: #F091BB;
}

ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

li {
    display: inline-block;
    padding: 15px 30px;
}

a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

a:hover {
    font-weight: bolder;
    transition: 0.5s;
}

.search {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #C05B87;
    border: 0;
    border-radius: 2px;
    width: 500px;
}

img {
    align-content: center;
}